[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yougile-api = "*"
customtkinter = "*"
tkcalendar = "*"
dataclasses = "*"
pybabel = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
doit = "*"
docformatter = "*"
sphinx = "*"

[requires]
python_version = "3.10"
